fastapi
uvicorn
requests
pydantic
pydantic-settings
python-multipart
aiofiles
pillow
opencv-python
python-dotenv
truss
sentencepiece>=0.1.99
transformers==4.41.0
#gradio_client
httpx
# livekit umbrella optional; core imports rely on these:
livekit-api
#livekit-rtc
pytest
pytest-asyncio
ultralytics